#gameBanner {
  justify-content: center;
}
#bank {
  text-align: center;
}

.hideDealerCard {
  display: none;
}

#refreshButton {
  text-align: center;
  justify-content: center;
}

#actionTable {
  justify-content: center;
}
