#statsContainer {
  background-color: antiquewhite;
  height: 100vh;
}

#table {
  height: 100vh;
}

.cardTable {
  height: 30%;
}

#gameBanner {
  justify-content: center;
}
#bank {
  text-align: center;
}

.hideDealerCard {
  display: none;
}

#refreshButton {
  text-align: center;
  justify-content: center;
}

#actionTable {
  justify-content: center;
}

.card {
  height: 56%;
  width: auto;
  // width: 150px;
}
